@font-face {
    font-family: 'proxima-nova';
    src: url('/assets/fonts/ProximaNova-Regular.otf') format('opentype');
}

:root{
    /* colors */
    --primary-clr-orange: #F7A100;
    --primary-clr-white: #FFFFFF;
    --primary-clr-blue: #5FC5F8;
    --primary-clr-black: #030304;
    --secundary-clr-brown: #53241B;
    --shades-clr-gray1: #EDEDED;
    --shades-clr-gray2: #CCCCCC;

    --font: 'proxima-nova', sans-serif;
}

html {
    font-family: var(--font);
}
body{
    margin:0; padding: 0;
}
/* header nav */
nav{
    background-color: var(--primary-clr-orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo-img{
    width: 7em; height: 7em;
    margin-left: 1em;
}

.navlist-left, .navlist-right {
    list-style: none;
    display: flex;
    gap: 1em;
}

.navlist-right{
     margin-left: auto; 
    margin-right: 2em;
}
/* end header nav */

/* intro section header */
.intro{
    /* background-color: var(--primary-clr-blue); */
    border-bottom: solid .5em #F7A100;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon-container{
    background-color: var(--primary-clr-orange);
    border-style: none;
    border-radius: 50%;
    height: 20em; width: 7em;
    box-shadow: 10px 5px 10px inset var(--primary-clr-black);
    position: relative;
    bottom: 40%;
}
#lijsten-icon{
    width: 5em;
    height: 5em;
    position: relative; left: 1em; top: 1em; 
}

/* intro section create list */

.showFormButton {
    background-color: var(--secundary-clr-brown);
    padding: 1em 4em;
    margin-bottom: .5em;
    border-radius: 2em;
    cursor: pointer;
    display: inline-block;
    color: white;
    font-size: 16px;
}

.showFormButton:hover{
    background-color: var(--primary-clr-orange);
    color: var(--primary-clr-black);
}

.listform{
    background-color: #f0f0f0;
    padding: 20px;
    border-radius:  10px 0 0 10px; ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}
#listName{
    width: 200px;
    height: 20px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 3.6em;
    border: 1px solid #ccc;
    border-radius: 8px;  
    box-shadow: -3px 6px 4px #222;
}

.hidden{
    display: none;
}
/* button naast form */
a.my-button{
    background: linear-gradient(to right,#53241b ,hsl(9, 82%, 17%));
    background-color: #53241b;
    color: #fff;
    font-family: Trebuchet MS;
    font-size: 22px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 8px 23px;
    border: 0px solid #000;
    border-radius: 3px;
    display: inline-block;
    box-shadow: inset -6px -5px 10px -3px rgba(12.5445556640625,12.385515953557178,12.385515953557178,0.5);
    text-shadow: 2px 2px 0px #000;
   }
   a.my-button:hover{
    background: linear-gradient(to right,hwb(22 22% 12%) , var(--primary-clr-orange));
   }
   a.my-button:active{
    transform: scale(0.95);
   }

   /* test */
   .wave-container {
    position: relative;
    width: 100%;
    height: 100dvh;
    z-index: -1;
    background: var(--primary-clr-blue);
    overflow: hidden;
  }
  
  .wave-container .air {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px;
  }
  
  .air {
    opacity: 0.7;
    animation: wave 5s linear infinite;
  }
  
  .air1 { z-index: 1000; opacity: 1; animation-delay: 0s; }
  .air2 { z-index: 999; opacity: 0.5; animation-delay: -5s; bottom: 10px; }
  .air3 { z-index: 998; opacity: 0.2; animation-delay: -2s; bottom: 15px; }
  .air4 { z-index: 997; opacity: 0.7; animation-delay: -5s; bottom: 20px; }
  
  @keyframes wave {
    0% { background-position-x: 0; }
    100% { background-position-x: -1000px; }
  }
  

/* end intro section */