@font-face {
    font-family: 'proxima-nova';
    src: url('/assets/fonts/ProximaNova-Regular.otf') format('opentype');
}

:root{
    /* colors */
    --primary-clr-orange: #F7A100;
    --primary-clr-white: #FFFFFF;
    --primary-clr-blue: #5FC5F8;
    --primary-clr-black: #030304;
    --secundary-clr-brown: #53241B;
    --shades-clr-gray1: #EDEDED;
    --shades-clr-gray2: #CCCCCC;

    --font: 'proxima-nova', sans-serif;
}

html {
    font-family: var(--font);
}
body{
    margin:0; padding: 0;
}
/* header nav */
nav{
    background-color: var(--primary-clr-orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo-img{
    width: 7em; height: 7em;
    margin-left: 1em;
}

.navlist-left, .navlist-right {
    list-style: none;
    display: flex;
    gap: 1em;
}

.navlist-right{
     margin-left: auto; 
    margin-right: 2em;
}
/* end header nav */

/* intro section header */
.intro{
    background-color: var(--primary-clr-blue);  
    border-bottom: solid .5em #F7A100;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url(/assets/layered-waves-haikei.png);
    background-size: contain;
    background-repeat: no-repeat; */

   
    
}
.icon-container{
    background-color: var(--primary-clr-orange);
    border-style: none;
    border-radius: 50%;
    height: 7em; width: 7em;
    box-shadow: 10px 5px 10px inset var(--primary-clr-black);
    position: relative;
    /* bottom: 40%; */
}
#lijsten-icon{
    width: 5em;
    height: 5em;
    position: relative; left: 1em; top: 1em; 
}

/* intro section create list */

.showFormButton {
    background-color: var(--secundary-clr-brown);
    padding: 1em 4em;
    margin-bottom: .5em;
    border-radius: .5em;
    cursor: pointer;
    display: inline-block;
    color: white;
    /* font-size: 16px; */
    font-family: Trebuchet MS;
    font-size: 18px;
    font-weight: 800;
}

.showFormButton:hover{
    background-color: var(--primary-clr-orange);
    color: var(--primary-clr-black);
}

.listform{
    background-color: #f0f0f0;
    padding: 20px;
    border-radius:  10px 0 0 10px; ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}
#listName{
    position: relative;
    bottom: .2em;
    width: 200px;
    height: 20px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    /* border-radius: 8px;   */
    box-shadow: -3px 6px 4px #222;
}

.hidden{
    display: none;
}
/* button naast form */
a.list-button{
    background: linear-gradient(to right,#53241b ,hsl(9, 82%, 17%));
    background-color: #53241b;
    color: #fff;
    font-family: Trebuchet MS;
    font-size: 22px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 8px 23px;
    margin: .5em;
    border: 0px solid #000;
    border-radius: 3px;
    display: inline-block;
    box-shadow: inset -6px -5px 10px -3px rgba(12.5445556640625,12.385515953557178,12.385515953557178,0.5);
    text-shadow: 2px 2px 0px #000;
   }
   a.list-button:hover{
    background: linear-gradient(to right,hwb(22 22% 12%) , var(--primary-clr-orange));
   }
   a.list-button:active{
    transform: scale(0.95);
   }

/* listbutton js css */



/* listbutton js css */

/* end intro section */

.aside{
    background-color: var(--secundary-clr-brown);
    padding: 2em;
    width: 300px;
}
h2{
    color: var(--primary-clr-white);
}

#listContainer{
    list-style: none;
}
#listContainer li {
    /* Voeg hier stijlen toe voor elk lijstitem in de lijstcontainer */
    margin: 5px 0; /* Voorbeeld: marge boven en onder elk lijstitem */
    padding: 10px; /* Voorbeeld: opvulling binnen elk lijstitem */
    background-color: #f0f0f0; /* Voorbeeld: achtergrondkleur van elk lijstitem */
    border-radius: 5px; /* Voorbeeld: afronding van de hoeken van elk lijstitem */
}

#listContainer li:hover {
    /* Voeg hier stijlen toe voor elk lijstitem wanneer de muis erover zweeft */
    background-color: #dcdcdc; /* Voorbeeld: achtergrondkleur veranderen bij zweven */
}

/* main */

  