:root{
    /* colors */
    --primary-clr-orange: #F7A100;
    --primary-clr-white: #FFFFFF;
    --primary-clr-blue: #5FC5F8;
    --primary-clr-black: #030304;
    --secundary-clr-brown: #53241B;
    --shades-clr-gray1: #EDEDED;
    --shades-clr-gray2: #CCCCCC;
}
body{
    margin:0; padding: 0;
}
/* header nav */
nav{
    background-color: var(--primary-clr-orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo-img{
    width: 7em; height: 7em;
    margin-left: 1em;
}

.navlist-left, .navlist-right {
    list-style: none;
    display: flex;
    gap: 1em;
}

.navlist-right{
     margin-left: auto; 
    margin-right: 2em;
}
/* end header nav */

/* intro section header */
.intro{
    background-color: var(--primary-clr-blue);
    border-bottom: solid .5em #F7A100;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon-container{
    background-color: var(--primary-clr-orange);
    border-style: none;
    border-radius: 50%;
    height: 7em; width: 7em;
}
#lijsten-icon{
    width: 5em;
    height: 5em;
    position: relative; left: 1em; top: 1em; 
}

/* intro section create list */

.showFormButton {
    background-color: var(--secundary-clr-brown);
    padding: 0.5em 2em;
    margin-bottom: .5em;
    border-radius: 2em;
    cursor: pointer;
    display: inline-block;
}
h2{
    color: white;
}
.showFormButton:hover{
    background-color: var(--primary-clr-orange);
}
h2:hover{
    color: var(--primary-clr-black);
}


.listform{
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}
#listname{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;  
}
.hidden{
    display: none;
}
/* end intro section */